[QuickPhrase]
# 快速输入的触发键
# Available Value:
# None
# Semicolon
# Grave
QuickPhraseTriggerKey=None
# 额外的快速输入触发键
#AlternativeTriggerKey=
# 选词修饰键
# Available Value:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# 不显示拼写提示
# Available Value:
# True False
#DisableSpell=False
# 拼写提示候选词最大个数
#MaximumHintLength=2

